/*-------------------------------------------------------------------------------------------*/
/*--------------------------------------Navigation Bar---------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
#navbar{
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;   
    position: fixed;
    height: 100px;
}
#navbar_background{
    z-index: 2;
    width:100%;
    height:100px;
    background-color: #f3f3f3;
    opacity:.05;
}
#navbar_content{
    top:0;
    width: 800px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}
#name_container{
    float: left;
    height:100px;
    width: 240px;
}
#button_holder{
    float: right;
    height:100px;
    width: 300px;
}
/*--------------------Name And Logo------------------------*/
#logo{
    float:left;
    margin-top: 10px;
    padding-right: 10px;
    width:80px;
    height:80px;
}
#logo img{
    height:80px;
    width:80px;
}
#name{
    color: #f6f6f6;
    height:40px;
    width:260px;
    margin-top: 35px;
}
#nameline{
    margin-left: 125px;
    margin-top: -3px;
    background-color: #a0dcab;
    height: 2px;
    width: 0px;
    transition: all .5s ease;
    -webkit-transition: all .7s ease;
}
#name:hover #nameline{
    width: 145px;
    margin-left: 45px;
    transition: all .5s ease;
    -webkit-transition: all .7s ease;
}
/*-------------------------Buttons To Other Pages-------------------------------*/
#profile{
    float: right;
    color:#f6f6f6;
    margin-top: 40px;
    padding-top: 10px;
    height:25px;
    width:50px;
    text-align: center;
    font-weight: bold;
}
#profileline{
    background-color: #a0dcab;
    margin-left: 25px;
    height:1px;
    width:0px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
#profile:hover #profileline{
    margin-left: 5px;
    width: 40px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
#photo{
    float: right;
    color:#f6f6f6;
    margin-top: 40px;
    padding-top: 10px;
    height:25px;
    width:150px;
    text-align: center;
    font-weight: bold;
}
#photoline{
    background-color: #a0dcab;
    margin-left: 75px;
    height:1px;
    width:0px;
    transition: all .5s ease;
    -webkit-transition: all .7s ease;
}
#photo:hover #photoline{
    margin-left: 35px;
    width: 80px;
    transition: all .5s ease;
    -webkit-transition: all .7s ease;
}
#blog{
    float: right;
    color:#f6f6f6; 
    margin-top: 40px;
    padding-top: 10px;
    height:25px;
    width:50px;
    text-align: center;
    font-weight: bold;
}
#blogline{
    background-color: #a0dcab;
    margin-left: 25px;
    height:1px;
    width:0px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
#blog:hover #blogline{
    margin-left: 15px;
    width: 20px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------END Navigation Bar------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------Miscellaneous Tags------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-----------------------------------END Miscellaneous Tags----------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------END NAVIGATION BAR------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------END NAVIGATION BAR------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------END NAVIGATION BAR------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------END NAVIGATION BAR------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------END NAVIGATION BAR------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------END NAVIGATION BAR------------------------------------*/
/*-------------------------------------------------------------------------------------------*/



/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/


.picture_background{
  z-index: 0;
  position: fixed;
  top:0;
  left:0;
  margin-left:-200px; 
  margin-top:-200px;
  width: 1887px; 
  height: 1250px;
  overflow: hidden
}

/*****************************************************************************/
/*
/* End Content
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #f6f6f6;
  font-size: 80%;
}
.posts a{
  color: #f6f6f6;
}
.posts a:hover{
  color: #a0dcab;
}



/*****************************************************************************/
/*
/* Blog Front Page
/*
/*****************************************************************************/

#title{
  margin-bottom: 10px;
  color: #f3f3f3;;
}


/*****************************************************************************/
/*
/* All Content entered into Default
/*
/*****************************************************************************/

.site {
  text-align: center;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}




/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
#bloghome{
  color: #f3f3f3;
  padding: 5px;
  float:left;
}
#bloghome:hover{
  color: #c9a0dc;
}
#posttitle{
  color: #a0dcab;
  margin-bottom: 5px;
}
#postdate{
  margin-bottom: 10px;
  color:#f3f3f3;
  float: right;
}
.post{
  color: #f3f3f3;
  width:800px;
}
#opening{
  float:left;
  width:800px;
  margin-bottom: 10px;
}
#opening p{
  text-align:left;
}
#sig{
  width: 800px;
  float:left;
}
#sig p{
  text-align: right;
  margin-bottom: 3px;
}
.post p{
  text-align: center;
  margin-bottom: 20px;
  line-height: 130%;
}
#blog_content p{
  text-align: justify;
}
#blog_content a{
  color:#a0dcab;
}
#blog_space{
  width: 800px;
  height: 20px;
}
#blog_image{

}
#post_date_and_home{
  width:800px;
  height:50px;
}

/*-------------------------------------------------------------------------------------------*/
/*---------------------------------------BEGIN FOOTER----------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
#footer{ 
  z-index: 1;
  bottom: 0; 
  left: 0;  
  position: fixed;
  width: 100%;
  height: 50px;
  text-align: center;
}
#footer_content{
  width:600px;
  height:50px;
  margin-left: auto;
  margin-right: auto;
  color: #f6f6f6;
}
#footer_background{
  bottom: 0; 
  left: 0;  
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #f3f3f3;
  opacity: .05;
}
#footer_text{
  margin-top: 20px;
  float:left;
}
#footer_text p{
  font-size: .75rem;
}
#social_media{
  float:right;
}
.social{
  margin-top: 10px;
  height:30px;
  width:30px;
}
.social:hover{
  opacity:.5;
}

/*-------------------------------------------------------------------------------------------*/
/*-----------------------------------------END FOOTER----------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
