/*----------------------------------------*\
 | | | | | | | Navbar Divison | | | | | | |
\*----------------------------------------*/
  #top_bar{
    position:fixed;
    z-index:50;
    height:50px;
    width:100%;
    background-color: #f8f8f8;
  }
  #top_bar_content{
    width:800px;
    height:50px;
    margin-right: auto;
    margin-left: auto;
  }
  #top_bar_left{
    float:left;
    width:325px;
    height:50px;
  }
  #top_bar_left h4{
    color:#609170;
    float:left;
    margin-top: 8px;
    padding-top: 4px;
  }
  #top_bar_left:hover h4{
    color: #ff9c36;
  }
  #top_bar_left img{
    height:50px;
    width:50px;
    float:left;
  }
  #top_bar_right{
    float:right;
    width:475px;
    height:50px;
    margin-top: 5px;
  }
  #buttons{
    list-style-type: none;
  }
  #buttons li{
    display: inline;
    float:right;
    padding-top: 13px;
    padding-bottom:10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  #buttons li:hover{
    color: #ff9c36;
  }
  #buttons a{
    color: #609170;
  }



/*----------------------------------------*\
 | | | | | | | Main Site Tag | | | | | | |
\*----------------------------------------*/
  .site {
    text-align: center;
    width:100%;
    height:100%;
    padding-top: 50px;
  }
  #breaking_line{
    z-index: 100;
    float:left;
    height:10px;
    width:100%;
    background-color: #609170;
  }


/*----------------------------------------*\
 | | | | | | | | About Page | | | | | | |
\*----------------------------------------*/
  #profile_section{
    background-image: url(/images/Background/Profile.jpg);
    float:left;
    height:400px;
    width:100%;
    background-position: 50% 60%;
    background-size: cover;
    background-position: center;
  }
  #profile_content{
    height:100px;
    width:800px;
    margin-right: auto;
    margin-left: auto;
  }
  #profile_text{
    text-align: left;
    float:left;
    height:100px;
    width:400px;
    margin-top: 150px;
  }
  #profile_text h4{
    margin-bottom: 15px;
    font-family: Junctionbold;
  }
  #profile_text h6{
    margin-bottom: 20px;
  }
  #about_me_section{
    float:left;
    height:400px;
    width:100%;
    background-color: #f8f8f8;
  }
  #about_me_text{
    margin-top: 30px;
    width:500px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  #about_me_text h4{
    margin-left: 20px; 
  }
  #about_me_text p{
    margin-top: 20px; 
  }
  #resume_section{
    float:left;
    height:30px;
    width:100%;
    color:#f8f8f8;
    background-color: #3f3f3f;
  }
  #resume_section h6{
    font-size: 16px;
    margin-top: 10px;
  }

/*----------------------------------------*\
 | | | | | | | | Projects Page | | | | | | |
\*----------------------------------------*/
  #projects{
    z-index: 100;
    float:left;
    height:800px;
    width:100%;
    padding-top: 50px;
    background-color: #f8f8f8;
  }
  #projects h2{
    color: #609170;
    margin-top: 50px;
  }

/*----------------------------------------*\
 | | | | | | | Photography Page | | | | | |
\*----------------------------------------*/
  #photo_section_1{
    float:left;
    height:340px;
    width:100%;
    padding-top: 50px;
    background-color: #f8f8f8;
  }
  #photo_content_1{
    width:900px;
    height:300px;
    margin-right: auto;
    margin-left: auto;
  }
  #photo_content_1 h3{
    margin-top: 100px;
    color: #609170;
    float:right;
  }
  #photo_content_1 h6{
    text-align: right;
    margin-top: 10px;
    color: #609170;
    float:right;
  }
  #nature_flat{
    float:left;
    height:300px;
    width:310px;
  }
  .photography{
  position: relative;
  width: 400px; 
  height: auto;
  }
  #photo_section{
    z-index: 100;
    float:left;
    width:100%;
    background-color: #f8f8f8;
  }
  @media screen and (max-width:800px){
      #photo_section{
      height:1900px;
      }
  }
  @media screen and (min-width:810px){
    @media screen and (max-width:1210px){
      #photo_section{
      height:1090px;
      }
    }
  }
  @media screen and (min-width:1210px){
    @media screen and (max-width:1610px){
      #photo_section{
      height:820px;
      }
    }
  }
  @media screen and (min-width:1610px){
      #photo_section{
      height:550px;
      }
  }

/*----------------------------------------*\
 | | | | | | | | Blog Page | | | | | | | |
\*----------------------------------------*/
  #blog_site{
    margin-top: 0px;
    font-family: Fanwooditalic, Eurostile, sans-serif;
    position:relative;
    height: 1000px;
    width: 100%;
    background-color: #f8f8f8;
  }
  #blog_header{
    position:relative;
    float:left;
    height:300px;
    width:100%;
  }
  #blog_header_content{
    margin-left: auto;
    margin-right: auto;
    height:75px;
    width:480px;
  }
  #glasses_flat{
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    height:200px;
    width:200px;
  }
  #blog_title{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    color: #3f3f3f;
  }
  #blog_title span{
    color: #744aa3;
  }

  #post_list{
    position:relative;
    float:left;
    width:100%;
    height:600px;
  }
  .posts {
    list-style-type: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width:300px;
  }
  .posts li {
    text-align: left;
    line-height: 150%;
    margin-bottom: 5px;
  }
  #blog_page_date{
    font-size: 1.2rem;
  }









.blog_post_title{
  font-size: 1.2rem;
  color:#3f3f3f;
}




/*********************List of Posts on the Blog Home*************************/


.posts span {
  color: #3f3f3f;
  font-size: 80%;
}
.posts a{
  color: #744aa3;
}


/*-------------------------------------------------------------------------------------------*/
/*--------------------------------------Begin Post Pages-------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
#post_window{
  position:fixed;
  height: -moz-calc(100% - 277px);
  height: -webkit-calc(100% - 277px);
  height: -o-calc(100% - 277px);
  height: calc(100% - 277px);
  width:800px;
  overflow: scroll;
}
#post_top{
  z-index: 2;
  width:100%;
  height:80px;
}
#post_all{
  position:fixed;
  font-family: Fanwooditalic, Eurostile, sans-serif;
}

#blog_home_button{
  color: #a0dcab;
  padding: 5px;
  float:left;
}
#blog_home_button:hover{
  color: #c9a0dc;
}
#post_title{
  color: #a0dcab;
  margin-bottom: 5px;
}
#post_date{
  font-family: Fanwooditalic, Eurostile, sans-serif;
  margin-bottom: 10px;
  color:#f3f3f3;
  float: right;
}
.post{
  font-family: Fanwooditalic, Eurostile, sans-serif;
  color: #f3f3f3;
  width:800px;
}
#post_opening{
  float:left;
  width:800px;
  margin-bottom: 10px;
}
#post_opening p{
  text-align:left;
}
#post_sig{
  width: 800px;
  height:100px;
  float:left;
}
#post_sig p{
  text-align: right;
  margin-bottom: 3px;
}
.post p{
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 20px;
  line-height: 110%;
}
#post_content img{
  height: 331px;
  width: 500px;
  border: 2px black solid;
}
#post_content p{
  text-align: justify;
}
#post_content a{
  color:#a0dcab;
}
#post_content a:hover{
  color:#c9a0dc;
}
#post_space{
  width: 800px;
  height: 20px;
}
#post_image{
  height:331px;
  width:500px;
}
#post_date_and_home{
  width:800px;
  height:50px;
}

/*-------------------------------------------------------------------------------------------*/
/*---------------------------------------End Post Pages--------------------------------------*/
/*-------------------------------------------------------------------------------------------*/


/*----------------------------------------*\
 | | | | | Universal Footer Divison | | | |
\*----------------------------------------*/
#footer{ 
  z-index: 1;
  bottom: 0; 
  left: 0;  
  clear:both;
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: -50px;
  background-color: #3f3f3f;
}
#footer_content{
  width:600px;
  height:50px;
  margin-left: auto;
  margin-right: auto;
  color: #f8f8f8;
}
#footer_text{
  margin-top: 20px;
  float:left;
}
#footer_text p{
  font-size: .75rem;
}
#social_media{
  float:right;
}
.social{
  margin-top: 10px;
  height:30px;
  width:30px;
}
.social:hover{
  opacity:.5;
}

/*----------------------------------------*\
 | | | | | | | Color's Used | | | | | | | |
\*----------------------------------------*/

f8f8f8=Off White
8bd1a1=Light Green
78b58b=Green
609170=Dark Green
3f3f3f=Dark Grey
484848=Light Grey
orange=ff9c36
light green=43d995



744aa3 = purple

