body {
        margin: 0; /*need to comment this shit*/
        padding: 0;
        background-image: url(boarding.jpg);
        background-attachment: fixed;
        background-position: 50% 50%;
        background-size: cover;
        font-family: Eurostile, sans-serif;
}
body a{
    text-decoration: none;
}



/*Begin Top Bar Menu*/

#header{                /*the top bar*/
    min-width: 900px;   /*don't let this get smaller than 900*/
    position: fixed;    /*keep the bar at th eto of the page*/
    top: 0;             /*start top*/
    left: 0;            /*start left*/
    width: 100%;        /*make the width from side to side*/
    z-index: 10;
    height: 60px;       /*make the hieght just 50px*/
    background-color: #f6f6f6;     /*background color*/
    font-size: 25px; /*font size*/
    font-family: Eurostile, sans-serif; /*font*/
    color: #6699cc; /*font color*/
}
#header ul{
    list-style-type: none; /*removes the initial bullet points*/
    margin-right: 40px; /*give space between the side of the browser and the buttons*/
}
#header li{
    display: inline; /*dsiplay the items in a line horizontally*/
    float: right; /*put the buttons on the right*/
    font-family: Eurostile, sans-serif; /*font*/
    color: #f6f6f6; /*font color*/
    margin: 0,0,0,0;
    padding-top: 10px;       /*padding for all of the buttons*/
    padding-bottom: 10px;
    padding-left: 10px; 
    padding-right: 10px;
    font-size: 20px;         /*size of the buttons*/
    color:#6699cc; /* color of the text of the buttons*/
}
#name{
    vertical-align: middle;
    top:0; /*starts int he top left corner*/
    left:0;
    float: left; /*float it left while the buttons are right*/
    margin-left: 10px; /*gives some space from the left edge*/
    padding-top: 5px;   /*padding around the name link*/
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    }
#header a{
    color: #6699cc; /*color of the text is white*/
    line-height: 0px;
}
#header li:hover{
    color: #5e4334; /*while hovering the buttons are this color*/
}
#name:hover{
    color: #5e4334; /*while hovering it changes color*/
}
   /*End Top Bar Menu*/



#space {
    min-width: 1100px;
    width: 100%;
    left: 0;
    height: 500px;
    margin-top: 50px;
    position: relative;
    float: left;
}


#design1{
    background-color: #6699cc;
    height: 100px;
    width: 10px;
    z-index: 3;
    position: absolute;
    margin-left: 65px;
    margin-top:-10px;
}
#topcircle{
    height: 20px;
    width: 40px;
    z-index: 4;
    position: absolute;
    margin-left: 50px;
    margin-top:65px;
    overflow:hidden;
}
#design2{
    background-color: #6699cc;
    height: 40px;
    width: 40px;
    z-index: 5;
    border-radius: 100%;
    position: absolute;
}
#bottomcircle{
    height: 20px;
    width: 40px;
    z-index: 4;
    position:absolute;
    margin-left: 50px;
    margin-top:85px;
    overflow:hidden;
}
#design3{
    background-color: #5e4334;
    height: 40px;
    width: 40px;
    bottom:0;
    left:0;
    z-index: 5;
    border-radius: 100%;
    position: absolute;
}
#design4{
    background-color: #5e4334;
    height: 500px;
    width: 10px;
    z-index: 3;
    position: absolute;
    margin-left: 65px;
    margin-top:90px;
}

#design12{
    background-color: #5e4334;
    height: 100px;
    width: 10px;
    z-index: 3;
    position: absolute;
    margin-left: 65px;
    margin-top:-10px;
}
#topcircle2{
    height: 20px;
    width: 40px;
    z-index: 4;
    position: absolute;
    margin-left: 50px;
    margin-top:65px;
    overflow:hidden;
}
#design22{
    background-color: #5e4334;
    height: 40px;
    width: 40px;
    z-index: 5;
    border-radius: 100%;
    position: absolute;
}
#bottomcircle2{
    height: 20px;
    width: 40px;
    z-index: 4;
    position:absolute;
    margin-left: 50px;
    margin-top:85px;
    overflow:hidden;
}
#design32{
    background-color: #6699cc;
    height: 40px;
    width: 40px;
    bottom:0;
    left:0;
    z-index: 5;
    border-radius: 100%;
    position: absolute;
}
#design42{
    background-color: #6699cc;
    height: 250px;
    width: 10px;
    z-index: 3;
    position: absolute;
    margin-left: 65px;
    margin-top:90px;
}



#Snowboarding {
    min-width: 1100px;
    padding-top: 10px;
    width: 100%;
    height: 340px;
    background-color: #f6f6f6;
    float: left;
    font-family: Eurostile, sans-serif;
} 
#Snowboarding h2{
    text-shadow:1px 1px gray;
    margin-left: 10%;
    font-size: 30px;
    margin-top: 70px;
    float:left;
}
#Snowboarding img{
    margin-right: 10%;
    margin-top: 20px; 
    height: 300px;
    width: auto;
    float:right;
    border:2px solid #5e4334;
}
#text{
    float:left;
    height:300px;
    width: 40%;
    margin-left: 10%;
    font-family: Eurostile, sans-serif;
}
#text p{
    margin-left: 10px;
}







#container {
    min-width: 1100px;
    padding-top: 10px;
    width: 100%;
    height: 200px;
    background-color: #f6f6f6;
    float: left;
    font-family: Eurostile, sans-serif;
} 
#container table{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    height:160px;
    width:50%;
    border-radius: 10px;
    border:2px solid #5e4334;
    background-color: #f6f6f6;
}
#container td{
    height:140px;
    width:200px;
    padding: 3px 3px 3px 3px;
}
#container table img{
    height:140px;
    width:200px;
}
#container th{
    display:none;
}




#HackySack {
    min-width: 1100px;
    padding-top: 10px;
    width: 100%;
    height: 340px;
    background-color: #f6f6f6;
    float: left;
    font-family: Eurostile, sans-serif;
} 
#HackySack h2{
    text-shadow:1px 1px gray;
    margin-left: 10%;
    font-size: 30px;
    margin-top: 70px;
    float:left;
}
#HackySack img{
    margin-right: 10%;
    margin-top: 20px; 
    height: 300px;
    width: auto;
    float:right;
    border:2px solid #5e4334;
}
#text{
    float:left;
    height:300px;
    width: 40%;
    margin-left: 10%;
    font-family: Eurostile, sans-serif;
}
#text p{
    margin-left: 10px;
}





/*Begin Footer*/
#footer{ 
    min-width: 1100px;
    opacity: .4;
    bottom: 0; 
    left: 0;  
    width: 100%;
    height: 80px;
    background-color: #6699cc;
    clear: both;
    text-align: center;
}
#footer p{
    font-size: 15px;
    font-family: Eurostile, sans-serif;
    padding-top: 15px;
    color: black;
}
#footer a{
    color: black;
}
#footer a:hover{
    font-weight:bold;
}
/* End Footer*/
