
@font-face {
    font-family: 'Fanwooditalic';
    src: url('fanwood_italic-webfont.eot');
    src: url('fanwood_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fanwood_italic-webfont.woff') format('woff'),
         url('fanwood_italic-webfont.ttf') format('truetype'),
         url('fanwood_italic-webfont.svg#FanwoodItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Fanwood';
    src: url('fanwood-webfont.eot');
    src: url('fanwood-webfont.eot?#iefix') format('embedded-opentype'),
         url('fanwood-webfont.woff') format('woff'),
         url('fanwood-webfont.ttf') format('truetype'),
         url('fanwood-webfont.svg#Fanwoodregular') format('svg');
    font-weight: normal;
    font-style: normal;
}